*{
    box-sizing: border-box;
}
html{
    font-family: 'Open Sans Condensed', sans-serif;
}
.lateral{
    background-color: rgb(204, 242, 229);
    bottom: 0;
    left: 0;
    padding: 1em;
    position: fixed;
    top: 0;
    width: 350px;
}
/* Perfil */
.perfil_circulo{
    border-radius: 50%;
    height: 100px;
    overflow: hidden;
    padding: 0;
    width: 100px;
}
.perfil_foto{
    width: 100%;
}
.perfil_nombres{
    color: rgb(97, 88, 88);
    font-size: 22px;
    margin-left: -0.5em;
}
.perfil_nombres, .perfil_circulo{
    display: inline-block;
    vertical-align: middle;
}
/* Información */
.informacion{
    color: rgb(51, 50, 50);
    position: absolute;
    bottom: 1em;
}
.informacion_titulo{
    font-size: 18px;
}
/* Habilidades */
.habilidades{
    padding: 0;
    justify-content: space-between;
    margin: 10px auto;
    width: 47%;
}
.habilidad{
    background-color: rgb(70, 136, 138);
    color: aliceblue;
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    padding: .5em;
}
.habilidad--proyecto{
    background-color: rgb(70, 136, 138);
    color: aliceblue;
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    padding: .5em;
}
/* Proyecto */
.proyectos{
    margin-left: 350px;
    padding: 1em;
    display: table;
}
.proyecto{
    display: table-cell;
    padding: 1em;
    width: 50%;
}
.proyecto_imagen{
    width: 100%;
}
.proyecto_titulo{
    color: black;
    font-size: 18px;
}
.proyecto_descripcion{
    color: grey;
}